<blockquote class="active">
  <p>Wisdom is not a product of schooling but of the lifelong attempt to acquire it.</p>
  <small>Albert Einstein <cite title="Source Title"></cite></small>
</blockquote>
<center>
<h2>Test your brain power by iQUIZ</h2>
<img align="center" src="http://newlifelathrop.com/wordpress/wp-content/uploads/2017/03/brain-power.jpg" height=250 width = "400"></img>
<br>
<br>
<br>
<a href="/quizplay" class="btn btn-primary btn-block"> play Quiz</a>

<center>